@charset "UTF-8";

html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*overflow-x: hidden; */
}

/*float解除*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

/************************************************
*  1. header
*************************************************/
header {
	width: 960px;
	height: 335px;
	margin: 0 auto;
}

.headImg {
	width: 960px;
	margin: 0 auto;
	height: 285px;
	position: relative;
}

.logo {
	position: absolute;
	top: 20px;
}

nav {
	width: 960px;
	height: 50px;
	margin: 0 auto;
}

.navi {
	width: 960px;
	height: 50px;
	margin: 0 auto;
}

.navi a {
	text-decoration: none;
}

.hov:hover {
	text-decoration: none;
	background-color: #EEE;
	color: #999;
}

.navLi {
	float: left;
	list-style-type: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	color: #999;
	font-family: serif;
	font-weight: bold;
}

.nvB {
	border-right: solid 2px #ccc;
	width: 190px;
}

.nvBn {
	width: 192px;
}

.focus {
	background-color: #EEE;
	color: #999;
}

/************************************************
*  2. Main
*************************************************/
#wrapper {
	width: 980px;
	height: auto;
	margin: 0 auto;
	clear: both;
}

/**************************************
*  3-1. Content1
***************************************/
#mainV {
	width: 960px;
	height: 500px;
	margin: 0 auto;
}

/**************************************
*  3-2. Content2
***************************************/
#connection {
	width: 960px;
	height: 400px;
}

/**************************************
*  3-3. Content3
***************************************/
#links {
	width: 960px;
	height: 180px;
}

/**************************************
*  3-X. PageTop
***************************************/


/************************************************
*  4. Footer
*************************************************/
footer {
	width: 100%;
	height: 70px;
	margin: 0 auto;
	background-color: #EEE;
}

small {
	width: 960px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin: 0 auto;
}

small p {
	font-size: 18px;
	margin: 0 auto;
}