@charset "UTF-8";

html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/*float解除*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

/************************************************
*  1. header
*************************************************/
header {
	width: 100%;
	max-width: 960px;
	height: 350px;
	margin: 0 auto;
}

.headImg {
	width: 960px;
	margin: 0 auto;
	height: 285px;
}

nav {
	width: 960px;
	height: 65px;
	margin: 0 auto;
}

.navi a {
	text-decoration: none;
}

.hov:hover {
	text-decoration: none;
	background-color: #ccc;
	color: #fff;
}

.navLi {
	float: left;
	list-style-type: none;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	margin: 15px auto;
	color: #999;
}

.nav1 {
	width: 164px;
}

.nav2 {
	width: 222px;
}

.nav3,
.nav4,
.nav5 {
	width: 190px;
}

.nvB {
	border-right: solid 1px #ccc;
}

.focus {
	background-color: #CCC;
	color: #fff;
}

/************************************************
*  2. Main
*************************************************/
#wrapper {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/**************************************
*  3-1. Content1
***************************************/
#mainV {
	width: 960px;
	height: 500px;
}

/**************************************
*  3-2. Content2
***************************************/
#connection {
	width: 960px;
	height: 400px;
}

/**************************************
*  3-3. Content3
***************************************/
#links {
	width: 960px;
	height: 180px;
}

/**************************************
*  3-X. PageTop
***************************************/


/************************************************
*  4. Footer
*************************************************/
footer {
	width: 960px;
	height: 70px;
	margin: 0 auto;
	background-color: #EEE;
}

small {
	width: 960px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin: 0 auto;
}

small p {
	font-size: 18px;
	margin: 0 auto;
}