a {text-decoration:none;}

/*body,table {
	font-family: ÉÅÉCÉäÉI;
	font-size: 10pt;
	word-break: break-all;
}*/


html,body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,
blockquote,th,td,p{
	margin:0;
	padding:0;
}

body {
	line-height:1;
	font-family:Verdana, Ariel, Helvetica, sans-serif;
	font-size:62.5%;
	word-break: break-all;
}
h2 {
	margin: 0 auto 12px;
	font-size: 1.6em;
	line-height: 1;
}
h3 {
	margin: 0 auto 12px;
	font-size: 1.5em;
	line-height: 1;
	color: #de0066;
}
h4 {
	margin: 0 auto 12px;
	font-size: 1.3em;
	line-height: 1;
}
.moon {
	margin: 0 auto 16px;
	line-height: 1;
}
.columnTitle {
	line-height: 1.25;
	text-align: justify;
}
.columnTitle td {
	padding: 0.7em;
}
.toTop {
	padding: 7px 0 14px;
}
hr {
	margin: 28px auto;
}
p.attention {
	margin: 0 auto 21px;
	font-size: 13px;
	font-weight: bold;
}
