@charset "UTF-8";

html {
	/*height: 100%;*/
	width: 100%;
	background-color: #edffff;
}

body {
	width: 100%;
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	overflow-x: hidden;
}

/*float解除*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

/************************************************
*  1. header
*************************************************/
header {
	width: 100%;
	max-width: 960px;
	height: 130px;
	margin: 0 auto;
}

.logo {
	width: 900px;
	margin: 0 30px;
	height: 80px;
	padding-bottom: 10px;
}

.logoImg {
	float: left;
	height: 60px;
	width: 250px;
	margin-top: 10px;
}

.reservImg {
	float: right;
	height: 40px;
	width: 400px;
	margin-top: 30px;
}

nav {
	width: 960px;
	height: 30px;
	margin: 0 auto;
}

.navi {
	width: 900px;
	margin: 0 30px;
	height: 30px;
}

.navi a {
	text-decoration: none;
}

.hov:hover {
	text-decoration: none;
}

.navLi {
	float: left;
	list-style-type: none;
	width: 148px;
	height: 30px;
}

.mem {
	background: url("../image/common/member1.png") no-repeat;
}
.mem a {
	background: url("../image/common/member1.png") no-repeat;
	width: 148px;
	height: 30px;
	text-indent: -9999px;
	display: block;
}
.mem a:hover {
	background: url("../image/common/member2.png");
}

.liv {
	background: url("../image/common/live1.png") no-repeat;
}
.liv a {
	background: url("../image/common/live1.png") no-repeat;
	width: 148px;
	height: 30px;
	text-indent: -9999px;
	display: block;
}
.liv a:hover {
	background: url("../image/common/live2.png");
}

.beg {
	background: url("../image/common/beginner1.png") no-repeat;
}
.beg a {
	background: url("../image/common/beginner1.png") no-repeat;
	width: 148px;
	height: 30px;
	text-indent: -9999px;
	display: block;
}
.beg a:hover {
	background: url("../image/common/beginner2.png");
}

.sch {
	background: url("../image/common/schedule1.png") no-repeat;
}
.sch a {
	background: url("../image/common/schedule1.png") no-repeat;
	width: 148px;
	height: 30px;
	text-indent: -9999px;
	display: block;
}
.sch a:hover {
	background: url("../image/common/schedule2.png");
}

.acc {
	background: url("../image/common/access1.png") no-repeat;
}
.acc a {
	background: url("../image/common/access1.png") no-repeat;
	width: 148px;
	height: 30px;
	text-indent: -9999px;
	display: block;
}
.acc a:hover {
	background: url("../image/common/access2.png");
}

.com {
	background: url("../image/common/company1.png") no-repeat;
}
.com a {
	background: url("../image/common/company1.png") no-repeat;
	width: 150px;
	height: 30px;
	text-indent: -9999px;
	display: block;
}
.com a:hover {
	background: url("../image/common/company2.png");
}

.nrM {
	margin-right: 2px;
}

.nav6 {
	float: left;
	list-style-type: none;
	width: 150px;
	height: 30px;
}

hr {
	width: 900px;
	margin: 5px 30px 0;
}

/************************************************
*  2. Main
*************************************************/
#wrapper {
	width: 960px;
	height: 1200px;
	margin: 30px auto 0;
}

#mainCntnt {
	margin: 0 30px;
	height: auto;
	width: 900px;
}

/**************************************
*  3-1-1. leftColumn 
***************************************/
.leftColumn {
	width: 600px;
	height: 1000px;
	margin: 0 30px auto 0;
	float: left;
}

/**************************************
*  3-1. MainVisual
***************************************/
#mainV {
	width: 598px;
	height: 380px;
	margin: 0 auto;
    border: solid 1px #ccc;
}

.mainImg {
	width: 598px;
    height: 380px;
    margin: 0 auto;
}

#main {
    width: 598px;
    height: 380px;
    margin: 0 auto;
}

#thumbArea {
    width: 578px;
    padding: 12px 10px 5px 10px;
    height: 75px;
    line-height: 75px;
    background-color: #000;
}
.thumb {
    width: 137px;
    height: 65px;
    line-height: 65px;
    opacity: 0.6;
}
.smallImg {
    margin-right: 4px;
}

.select {
    opacity: 1.0;
}

/**************************************
*  3-2. Information
***************************************/
#info {
	width: 600px;
	height: 600px;
	margin: 0 auto;
}

.infoTitle {
	width: 590px;
	border-left: solid 10px #ccc;
	border-bottom: solid 2px #ccc;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	text-indent: 20px;
	color: #666;
	font-family: serif;
	font-weight: bold;
	margin-top: 30px;
}

.infoTitle2 {
	width: 590px;
	border-left: solid 10px #ccc;
	border-bottom: solid 2px #ccc;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	text-indent: 20px;
	color: #666;
	font-family: serif;
	font-weight: bold;
}

.news {
	width: 600px;
	height: 310px;
	margin: 0 auto;
	border: solid 1px #ccc;
	margin-top: 10px;
}

.newsBox {
	width: 600px;
	height: 40px;
	border-bottom: solid 1px #ccc;
	background-color: #eee;
}

.newsTitle {
	float: left;
	width: 480px;
	font-size: 20px;
	height: 40px;
	text-indent: 10px;
	font-weight: bold;
	color: red;
	line-height: 40px;
}

.newsTitle2 {
	float: left;
	width: 480px;
	font-size: 16px;
	height: 40px;
	text-indent: 10px;
	font-weight: bold;
	color: red;
	line-height: 40px;
}

.newsDay {
	width: 120px;
	float: left;
	text-indent: 30px;
	font-size: 14px;
	height: 40px;
	margin-top: 20px;
	font-weight: bold;
	color: red;
}

.newsText {
	padding-left: 10px;
	font-size: 18px;
}

/**************************************
*  3-1-2. RightColumn 
***************************************/
.rightColumn {
	width: 270px;
	margin: 0 auto;
	float: left;
	background-color: #eee;
	border-radius: 10px;
}

.rInfo {
	width: 270px;
	margin: 10px auto;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	font-family: cursive;
	text-align: center;
	color: red;
}

.rhr {
	width: 200px;
	border: solid 0.5px #00ffff;
}

/**************************************
*  3-3. Twitter
***************************************/
#twitter {
	width: 230px;
	height: 450px;
	margin: 0 20px;
}

/**************************************
*  3-4. Banner
***************************************/
#banner {
	width: 230px;
	height: 530px;
	margin: 60px 20px 0;
}

.bannerImg {
	width: 230px;
	height: 160px;
	margin: 30px auto;

}

.liveImg {
	margin-top: -2px;
}

/**************************************
*  3-X. PageTop
***************************************/


/************************************************
*  4. Footer
*************************************************/
footer {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	/*background-color: #EEE;*/
}

.fLink {
	width: 900px;
	margin: 0 30px;
	height: 30px;
}

.fLink ul {
	list-style-type: none;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

.navLi a {
	color: #000;
	text-decoration: none;
}

.frB {
	border-right: solid 2px #ccc;
}

small {
	width: 900px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin: 0 auto;
}

small p {
	font-size: 12px;
	margin: 0 auto;
}